*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav{
    background-color: rgb(204, 68, 68);
}
#nav #navimg{
    width:100% ;
    height: 550px;
    object-fit: fill;
    background-repeat: no-repeat;
    opacity: -0.4;
    position: absolute;
}
a {
    text-decoration: none;
    color: white;
    display: inline;
}
#navTop{
    display: flex;
}
#navPart1{
      
}
#navPart1img{
      width: 70px;
      
}

